:root {
  --primary-color: #fed330;
  --secondary-color: #ff2525;
  --white-color: #ffffff; /* Sửa tên biến thành white-color */
  --light-color: #f4f4f4;
  --grey-color: #979b9d;
  --dark-color: #171820;

  --trans-back-co: background-color 0.3s, color 0.3s;
  --trans-co: color 0.3s;
}
.no-pointer-events {
  pointer-events: none !important;
  color: #979b9d !important;
  cursor: not-allowed !important;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Ariel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  background-color: var(--white-color);
}

body {
  display: flex;
}

.fa-chevron-down {
  margin-left: -30px; /* Điều chỉnh khoảng cách giữa dropdown và icon */
  pointer-events: none; /* Ngăn không cho icon bị click */
  color: #555; /* Màu sắc của icon */
}

.dashboard {
  width: 20%;
  background-color: var(--dark-color);
  height: 130vh;
}
.main-dashboard {
  width: 80%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #cde1f5;
}

.header a {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.8em;
  font-weight: 600;
  box-shadow: 0px 3px 5px 0px rgba(204, 204, 204, 0.4509803922);
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 80%;
}

.menu a {
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #f4f4f4;
  font-size: 1.1em;
  gap: 10px;
  margin: 5px;
}

.menu a:hover {
  transform: translateX(10px);
  transform: translateY(-5px);
  background-color: #3b82f6;
  box-shadow: -4px 4px 0px 0px rgba(4, 142, 255, 0.2);
}

.page {
  background-color: #f4f4f6;
  padding: 30px 5%;
}

.box-dashboard {
  box-sizing: border-box;
  padding: 30px;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 5px 0px rgba(204, 204, 204, 0.4509803922);
  border-radius: 5px;
}

.dashboard-title {
  width: 100%;
  padding: 0 30px;

  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.8em;
  font-weight: 600;
  box-shadow: 0px 3px 5px 0px rgba(204, 204, 204, 0.4509803922);
  background-color: #fff;
}

.text-red {
  color: #ef4444;
}

.tr-hover:hover {
  background-color: #f4f4f6 !important;
}

th {
  cursor: pointer;
}

/* Thêm CSS cho bảng và phân trang */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
.table th,
.table td {
  padding: 0.625em;
  text-align: center;
}
.table th {
  background-color: #f2f2f2;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.pagination a {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
}
.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* CSS cho modal xóa 1 sản phẩm */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content form label {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
  width: 100%;
}

.modal-content form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content form button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal-content form button:hover {
  background-color: #45a049;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

/* CSS cho button xác nhận */
#confirmYes {
  background-color: #4caf50;
  color: white;
  border: none;
}

/* CSS cho button hủy */
#confirmNo {
  background-color: #f44336;
  color: white;
  border: none;
}

/* Hover effect */
#confirmYes:hover,
#confirmNo:hover {
  opacity: 0.8;
}

.btnDelete {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnDelete:hover {
  opacity: 0.8;
}

.payBtn {
  background-color: #4caf50;
  color: var(--light-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.caption-pay {
  font-size: 30px;
  font-weight: 600;
}

.caption-pay2 {
  font-size: 30px;
  font-weight: 600;
}

.original-price {
  margin-right: 10px;
}

.discounted-price {
  color: var(--dark-color);
  font-weight: bold;
}

.discount {
  padding: 10px;
  display: block;
  font-weight: 400;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  width: 200px; /* Độ rộng dropdown */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Ẩn giao diện mặc định của dropdown trên Firefox */
  -webkit-appearance: none; /* Ẩn giao diện mặc định của dropdown trên Chrome và Safari */
  background-color: #fff;
  background-image: url("arrow-down.png"); /* Icon mũi tên xuống */
  background-position: right 10px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.box-dashboard-row {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-apdung {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  margin-left: 10px; /* Khoảng cách với dropdown */
}
.btn-apdung:hover {
  opacity: 0.8;
}

.title-row {
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Buttons */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmBtn {
  background-color: #4caf50;
  color: white;
}

#cancelBtn {
  background-color: #f44336;
  color: white;
}

/* Modal container */
.payModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.payModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Buttons */
.payModal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.payModal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmBtn {
  background-color: #4caf50;
  color: white;
}

#cancelBtn {
  background-color: #f44336;
  color: white;
}
