/* reset css and import root */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,700;1,500&family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #fed330;
  --secondary-color: #ff2525;
  --white-color: #ffffff; /* Sửa tên biến thành white-color */
  --light-color: #f4f4f4;
  --grey-color: #979b9d;
  --dark-color: #171820;

  --trans-back-co: background-color 0.3s, color 0.3s;
  --trans-co: color 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Ariel", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: normal;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1em;
}

/* begin Container */

.container {
  max-width: 1100px;
  padding: 0 2em;
  margin: 0 auto;
}

/* ------------
  Begin Selector
---------------*/
.icons a {
  position: relative;
  font-size: 1.375em;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
}

.bg-primary,
.bg-dark {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: -1;
}

.bg-primary {
  background-image: url(./assets/bg-primary.svg);
}
.bg-dark {
  background-image: url(./assets/bg-dark.svg);
}

.head-brief {
  max-width: 600px;
  text-align: center;
  margin: 0 auto 4em;
}

.head-brief h3 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 1em;
}
.covering img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------
  Begin Header 
---------------*/
header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;
  background-color: var(--dark-color);
}

header :where(nav, .left, .right, ul, .icons) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header :where(.left, ul) {
  flex-direction: column;
}
header nav {
  padding: 1.5em 0;
  line-height: 2.5em;
}

header nav a {
  padding: 0 1em;
  color: var(--white-color);
  transition: var(--trans-co);
}

header nav a:hover {
  color: var(--primary-color);
}

header nav .logo a {
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 0;
  display: flex;
  color: var(--primary-color);
  text-decoration: none;
}

header nav .icart .number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  width: 16px;
  height: 16px;
  color: var(--primary-color);
  background-color: #fed33040;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Header Responsive Menu */
header nav .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 320px;
  width: 80%;
  padding: 2em;
  background-color: var(--primary-color);
  z-index: 1000;

  border-radius: 0 50% 50% 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.5s, visibility 0.2s, border-radius 0.5s 0.4s;
}

.menu.show {
  transform: translateX(0);
  visibility: inherit;
  border-radius: 0;
}

body.menu-visible {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.menu-visible .overlay {
  opacity: 1;
  visibility: visible;
}

header nav .menu ul {
  align-items: center;
  line-height: 3em;
}

header nav .menu ul li a {
  font-size: 1.5em;
  color: var(--dark-color);
}

header nav .menu ul li a:hover {
  color: var(--white-color);
}

/* HEADER----- 
    -> Search
-------------*/
header .search {
  background-color: var(--white-color);
  height: 0;
  visibility: hidden;
  transition: height 0.3s, visibility 0.3s;
}

.showsearch .search {
  height: 60px;
  visibility: inherit;
}

header .search input {
  width: 100%;
  line-height: 60px;
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 300;
  text-align: right;
  background-color: transparent;
}

header .search input::placeholder {
  color: var(--dark-color);
}
header .s-trigger i.fa-xmark,
.showsearch header .s-trigger .fa-magnifying-glass {
  display: none;
}
.showsearch header .s-trigger i.fa-xmark {
  display: block;
}
.showsearch header .s-trigger {
  background-color: #ff25251a;
  color: var(--secondary-color);
  border-radius: 7px;
  transition: var(--trans-back-co);
}
.showsearch header .s-trigger:hover {
  background-color: #ff25254a;
}

/* ------------
  Begin Slider 
---------------*/

main > div {
  position: relative;
  padding: 5em 0;
}

.hero {
  color: var(--white-color);
  text-align: center;
}

.hero h1 {
  font-size: clamp(1.5em, -0.875em + 8.333vw, 3.5em);
  margin-bottom: 0.5em;
}

.hero .text {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider,
.slider .main {
  position: relative;
  width: 100%;
}
.slider .image {
  max-width: 450px;
  height: auto;
  margin: 3em auto 1em;
}
.slider .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  text-transform: uppercase;
  margin: 4em auto;
}

.slider .tags .price {
  font-weight: 600;
  width: 70px;
  height: 70px;
  background-color: var(--dark-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 3px var(--primary-color), 0 0 0 8px #fedc5930;
}

.slider .tags a {
  color: var(--primary-color);
}
.link-slide a::after {
  content: "";
  width: 34px;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  transition: width 0.3s;
}

.link-slide a:hover::after {
  width: 100%;
}
.slider .thumb-nav {
  width: 235px;
  padding: 5px;
}
.slider .thumb-nav .thumbnail {
  width: 60px;
  height: auto;
  border-radius: 60px;
  cursor: pointer;
  transition: box-shadow 0.3s, padding 0.3s;
}
.slider .swiper-slide-thumb-active .thumbnail {
  padding: 5px;
  box-shadow: inset 0 0 0 5px #cba926, 0 0 0 5px #e5be2b;
}
.slider .thumb-nav .item {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-end;
}
.slider .thumb-nav .item h4 {
  font-size: 0.9em;
  text-align: right;
  color: var(--dark-color);
  line-height: 1.2;
  display: none;
}
.slider .thumb-nav .item h4 span {
  font-weight: 300;
  font-size: 0.813em;
}
.slider .swiper-pagination {
  position: relative;
}
.slider .swiper-pagination-bullet-active {
  background-color: var(--dark-color);
}

.hero .bg-primary {
  height: 600px;
}

/* slider transition */
.slider .tags > * {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 1s, opacity 0.5s;
}
.slider .tags .price {
  transition-delay: 0.3s;
}

.slider .tags a {
  transition-delay: 0.6s;
}

.slider .swiper-slide-active .tags > * {
  transform: translateY(0);
  opacity: 1;
}
.slider .image img {
  transform: rotate(180deg);
  transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider .swiper-slide-active .image img {
  transform: rotate(0);
}

.slider .tags > *:not(.price) {
  width: 100px;
}

/* ------------
  CATEGORIES  
---------------*/
.hover_img-new {
  display: none;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.thumbnail.covering:hover .hover_img-new {
  display: block;
}

.thumbnail.covering:hover .hover_img {
  display: none;
}

.categories {
  padding-top: 3em;
  background-color: var(--primary-color);
}

.cat-item ul {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.cat-item ul li {
  position: relative;
  text-align: center;
}

.cat-item ul li .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 1em;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #00000014;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}

.cat-item ul li h3 {
  font-size: 1.15em;
}

.cat-item ul li:hover .icon {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.5) 0 18px 36px -18px;
  border: 0;
}

.cat-item ul li:hover .icon img {
  transform: scale(1.1);
}
.cat-item ul li .qty {
  font-family: system-ui;
  position: absolute;
  top: -10px;
  line-height: 1;
  left: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s;
}
.cat-item ul li:hover .qty {
  left: 70%;
}
.cat-item ul li .qty strong {
  font-size: 4em;
  color: var(--light-color);
  letter-spacing: -5px;
}
.cat-item ul li .qty span {
  font-size: 0.813em;
  font-weight: 300;
  text-transform: uppercase;
}

.categories .bg-primary {
  height: 300px;
  transform: rotate(180deg);
  bottom: -300px;
}

/* ------------
  TABBED PRODUCTS  
---------------*/

.has-bg {
  margin-top: 10em;
}
.tabbed nav {
  position: sticky;
  top: 0;
  margin-bottom: 2em;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--light-color);
  z-index: 10;
}
.tabbed nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

.tabbed nav ul li {
  margin-right: 10px;
}
.tabbed nav a {
  color: var(--grey-color);
  transition: var(--trans-co);
}
.tabbed nav a:hover,
.tabbed nav li.swiper-slide-thumb-active a {
  color: var(--dark-color);
}
.tabbed nav li:not(.swiper-slide-thumb-active) a::after {
  opacity: 0;
}
.tabbed nav li a:hover::after {
  opacity: 1;
}
.tabbed .products ul {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.products .thumbnail {
  position: relative;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 1em;
  overflow: hidden;
}
.products .thumbnail img {
  transition: transform 0.3s 0.1s;
}
.products .thumbnail:hover img {
  transform: scale(1.1) translateY(-10px);
}
.products .meta {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.products .meta .cat a {
  font-size: 0.813em;
}

.products .meta :where(.catrate, .buttons) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products .meta .catrate i {
  color: var(--primary-color);
}

.products .meta h2 {
  font-size: 1em;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.products .meta h2:hover {
  text-decoration: underline;
}

.products .meta button {
  font-family: inherit;
  border: 0;
  outline: 0;
  padding: 1em;
  width: calc(100% -60px);
  border-radius: 5px;
  background-color: var(--light-color);
  cursor: pointer;
  transition: var(--trans-back-co);
}

.products .meta button:hover {
  background-color: var(--primary-color);
}
.products .meta .like {
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  color: var(--secondary-color);
  background-color: var(--light-color);
  transition: var(--trans-back-co);
}
.products .meta .like:hover {
  background-color: var(--dark-color);
}

.products li.liked {
  border-radius: 10px;
  padding: 5px;
  border: 3px solid var(--secondary-color);
}

.tabbed nav ul li {
  width: fit-content !important;
}

/* ------------
    MASTERPIECE
---------------*/
.masterpiece {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.masterpiece .bg-dark,
.fromblog .bg-dark {
  top: -350px;
  height: 350px;
}
.masterpiece .container {
  overflow: hidden;
}
.masterpiece .item {
  padding: 5em 0;
}
.masterpiece .item .image {
  margin: 0 auto;
  height: fit-content;
  border-radius: 50%;
}
.masterpiece .item:nth-child(1) .image {
  max-width: 300px;
  box-shadow: inset 0 0 0 4px var(--primary-color),
    0 0 0 5px var(--primary-color), 0 0 0 30px #fedc5926;
}
.masterpiece .item:nth-child(2) .image {
  filter: drop-shadow(0 30px 23px #000000);
}
.masterpiece .item:nth-child(3) .image {
  max-width: 600px;
  filter: drop-shadow(0 30px 23px #00000033);
}
.masterpiece .item:nth-child(4) .image {
  max-width: 250px;
  margin-left: 4em;
  padding: 5px;
  box-shadow: inset 0 0 0 5px var(--secondary-color), 0 0 0 10px #ff25254d,
    0 0 0 25px #ff25252e;
}

.masterpiece .item .text {
  padding: 3em 0 0 5em;
}
.masterpiece .item .text h2 {
  font-weight: 300;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  border-radius: 10px;
}
.masterpiece .item:nth-child(1) .text h2 {
  color: var(--primary-color);
  background-color: #fed3300d;
}
.masterpiece .item:nth-child(4) .text h2 {
  color: var(--secondary-color);
  background-color: #ff25250d;
}
.masterpiece .item:nth-child(4) .text p {
  color: var(--grey-color);
}

/* ------------
    BLOG
---------------*/
.box_blog {
  display: flex;
  gap: 20px;
}
.fromblog .bg-dark {
  top: -10em;
  transform: rotate(180deg);
}
.fromblog .post-list ul,
footer .wrapper {
  display: flex;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}
.fromblog .cat a {
  padding: 0.5em;
  color: var(--secondary-color);
  background-color: #ff25251a;
  border-radius: 5px;
}

.fromblog .post-list .date {
  font-size: 0.813em;
}
.fromblog .post-list h2 {
  font-size: 1.25em;
  white-space: normal;
}

/* ------------
   FOOTER
---------------*/
footer {
  padding: 5em 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}
footer h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
footer .logo a {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

footer p {
  color: var(--grey-color);
  margin-bottom: 1em;
}

footer ul li a {
  transition: var(--trans-co);
}
footer ul:not(.socials) li a:hover {
  color: var(--grey-color);
}
footer .socials {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
footer .socials li a {
  font-size: 1.25em;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
footer .socials li:nth-child(1) a {
  color: #4267b2;
  background-color: #4267b21a;
}
footer .socials li:nth-child(2) a {
  color: #e1306c;
  background-color: #e1306c1a;
}
footer .socials li:nth-child(3) a {
  color: #e1306c;
  background-color: #e1306c1a;
}
footer .copyright {
  text-align: center;
  margin-top: 5em;
}

/* ------------
   ANIMATION ON SCROLL
---------------*/
.up.animate {
  transform: translateY(150px);
}
.left.animate {
  transform: translateX(-100px);
}
.right.animate {
  transform: translateX(100px);
}
:where(.up, .left, .right).aniamte > * {
  opacity: 0;
  transition: transform 1s 1s, opacity 1s 1s,
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
:where(.up, .left, .right).aniamte.this > * {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

/* MODAL CART */
.js-modal_cart {
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
  /* Thêm kiểu dáng khác cần thiết */
  z-index: 1000;
}
.md_cart_container {
  background-color: var(--dark-color);
  width: 600px;
  position: fixed;
  right: 20px;
  box-shadow: inset 0 0 0 1px var(--primary-color), 0 0 0 5px #fedc5926;
  border-radius: 10px 10px 10px 10px;
  margin: auto;
  max-height: 600px;
  overflow-y: auto;
}

.js-modal_cart.open {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.md_cart_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid var(--grey-color);
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

.md_cart_head h2 {
  color: #ffffff;
  font-size: 1.5em;
}
.md_cart_head i {
  margin-left: 20px;
  color: #fff;
  font-size: 1.5em;
  margin-right: 20px;
  transition: var(--trans-co);
}
.md_cart_head i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

#total_money {
  color: #fff;
  margin-left: 20px;
  text-align: center;
}

.btn-cart {
  color: white;
  cursor: pointer;
  font-size: 24px;
}
.btn-cart:hover {
  opacity: 60%;
}

.modal_cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
  display: none;
}
.modal_cart.open {
  display: block;
}

.md_box-cart {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.md_box-cart p {
  margin-left: 20px;
  color: #373332;
}

.md_box_food {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 10px 0 10px;
  transition: var(--trans-back-co);
  border-radius: 10px;
}

.md_box_food p {
  color: #ffffff;
}

.md_box_food:hover {
  background-color: var(--grey-color);
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.5) 0 18px 36px -18px;
  border: 0;
}

.md_box-cart-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
  color: var(--white-color);
}

.md_box-cart img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}

.md_box-add {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 24px;
}

.md_box-add:hover {
  color: #373332;
  cursor: pointer;
}

.md_box-add button {
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 8px 0 8px;
}

.md_box-add button:hover {
  transition: 0.4s;
}

#total_money {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

#iconPay {
  display: flex;
  align-items: center;
}
#total_money i {
  font-size: 30px;
  margin-right: 20px;
  transition: var(--trans-co);
}

#total_money i:hover {
  cursor: pointer;
  opacity: 50%;
}
.fa-trash {
  color: var(--light-color);
  transition: var(--trans-co);
}
.fa-trash:hover {
  color: var(--primary-color);
}

.md_price {
  color: var(--light-color);
}

/* PAY MODAL */
.modal_pay {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 50%; /* Đặt modal ở giữa theo chiều ngang */
  top: 50%; /* Đặt modal ở giữa theo chiều dọc */
  transform: translate(-50%, -50%); /* Dịch modal ngược lại 50% của chính nó */
}
.modal_pay.open {
  display: block;
}
.confirmation-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.confirm-button,
.cancel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0px 0px 10px;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 70%;
}

.cancel-button {
  background-color: #ccc;
}

/* NOTIFICATION */
#cart-notification {
  position: fixed;
  top: 0px;
  right: 10px;
  background: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100%);
  font-size: 14px;
  z-index: 1000;
}
#cart-notification.visible {
  opacity: 1;
  transform: translateY(0);
}

#payed-notification {
  position: fixed;
  top: 0px;
  left: 10px;
  background: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100%);
  font-size: 14px;
  z-index: 1000;
}
#payed-notification.visible {
  opacity: 1;
  transform: translateY(0);
}

#cancel-notification {
  position: fixed;
  top: 0px;
  left: 10px;
  background: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100%);
  font-size: 14px;
  z-index: 1000;
}
#cancel-notification.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Responsive Styles */

/* Mobile First */
@media only screen and (max-width: 767px) {
  .md_cart_container {
    max-width: 320px;
    width: 100%;
    position: fixed;
    right: 0;
  }
  .md_box_food {
    font-size: 12px;
  }
  .md_box-cart img {
    height: 50px;
    width: 50px;
  }
  .md_box-add i {
    font-size: 14px;
  }
  .md_cart_head {
    font-size: 12px;
  }
  #total_money {
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  #iconPay {
    font-size: 10px;
  }

  header nav .logo a {
    font-size: 28px;
  }
  header nav .menu ul li a {
    font-size: 14px;
  }
  .container-login form {
    padding: 10px;
  }
  .container-login .group label,
  .container-login .group input {
    font-size: 14px;
  }
  .container-login {
    padding: 20px;
  }
  .right .icons a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .md_cart_container {
    max-width: 600px;
    width: 100%;
  }

  .mobile-only {
    display: none;
  }
  header :where(.left, ul) {
    flex-direction: row;
  }
  header nav .logo a {
    margin-right: 2em;
  }
  header nav .menu {
    position: relative;
    padding: 0;
    max-width: max-content;
    background-color: transparent;
    visibility: inherit;
    transform: none;
  }
  header nav .menu ul li a {
    font-size: inherit;
    color: var(--white-color);
    text-decoration: none;
  }
  header nav .menu ul li a:hover {
    color: var(--primary-color);
  }

  .masterpiece .item {
    display: flex;
    flex-wrap: wrap;
  }
  .masterpiece .item > div {
    flex: 1 0 50%;
  }
  .masterpiece .item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .masterpiece .item:nth-child(4) {
    max-width: 80%;
    margin: 0 auto;
  }
  .container-login {
    max-width: 400px;
    margin: 0 auto;
  }
  .container-login form {
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .slider .thumb-nav {
    position: absolute;
    right: 0;
    bottom: 1em;
    height: 210px;
  }
  :is(.slider .thumb-nav ul li) {
    height: 60px !important;
  }
  .slider .thumb-nav .item h4 {
    display: block;
  }
  .container-login {
    max-width: 500px;
    margin: 0 auto;
  }
}

/* Css login */
.main_login {
  display: flex;
  background: var(--dark-color);
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
}

.container-login {
  max-width: 1100px;
  padding: 2em 3em;
  margin: 0 auto;
  background: var(--white-color);
  border-radius: 5px;
}

.group {
  margin-top: 20px;
  height: 50px;
}

form {
  display: flex;
  margin: 0;
  text-align: center;
  width: 500px;
  flex-direction: column;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

form button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

form button a {
  color: white;
  text-decoration: none;
}

form button:hover {
  background-color: #007bb5;
}

form button a:hover {
  color: white;
}

/* css modal noti login */

/* Modal */
.modal {
  display: none; /* Ẩn modal theo mặc định */
  position: fixed; /* Ở lại trên màn hình */
  z-index: 1; /* Đảm bảo modal hiển thị trên các phần tử khác */
  left: 0;
  top: 0;
  width: 100%; /* Chiều rộng đầy đủ */
  height: 100%; /* Chiều cao đầy đủ */
  overflow: auto; /* Bật cuộn nếu cần */
  background-color: rgb(0, 0, 0); /* Màu đen mờ */
  background-color: rgba(0, 0, 0, 0.4); /* Màu đen mờ */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% từ trên và căn giữa */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Có thể điều chỉnh */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}

.container_register {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

form {
  background: white;
  padding: 15px;
  border-radius: 5px;
  padding: 2em 2em;
}
/* Form input styling */
form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styling */
form button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* alert.css */

/* Thiết lập cơ bản cho alert */
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  width: 300px;
  text-align: center;
}

/* Hiệu ứng động khi hiển thị alert */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Áp dụng hiệu ứng fadeIn cho alert */
.alert.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}
